[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/evrydayjunglist/mod-playerbots
[submodule "modules/mod-arac"]
	path = modules/mod-arac
	url = https://github.com/evrydayjunglist/mod-arac
