[submodule "modules/mod-eluna"]
	path = modules/mod-eluna
	url = https://github.com/evrydayjunglist/mod-eluna.git
[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/evrydayjunglist/mod-playerbots.git
[submodule "modules/mod-worgoblin"]
	path = modules/mod-worgoblin
	url = https://github.com/evrydayjunglist/mod-worgoblin.git
[submodule "modules/mod-random-suffix"]
	path = modules/mod-random-suffix
	url = https://github.com/evrydayjunglist/mod-random-suffix.git
[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = https://github.com/evrydayjunglist/mod-transmog.git
[submodule "modules/mod-acore-subscriptions"]
	path = modules/mod-acore-subscriptions
	url = https://github.com/evrydayjunglist/mod-acore-subscriptions.git
[submodule "modules/mod-individual-progression"]
	path = modules/mod-individual-progression
	url = https://github.com/evrydayjunglist/mod-individual-progression.git
[submodule "modules/mod-quest-loot-party"]
	path = modules/mod-quest-loot-party
	url = https://github.com/evrydayjunglist/mod-quest-loot-party.git
[submodule "modules/mod-reagent-bank-account"]
	path = modules/mod-reagent-bank-account
	url = https://github.com/evrydayjunglist/mod-reagent-bank-account.git
[submodule "modules/mod-leech"]
	path = modules/mod-leech
	url = https://github.com/evrydayjunglist/mod-leech.git
[submodule "modules/mod-learnspells"]
	path = modules/mod-learnspells
	url = https://github.com/evrydayjunglist/mod-learnspells.git
[submodule "modules/mod-weekendbonus"]
	path = modules/mod-weekendbonus
	url = https://github.com/evrydayjunglist/mod-weekendbonus.git
[submodule "modules/mod-money-for-kills"]
	path = modules/mod-money-for-kills
	url = https://github.com/evrydayjunglist/mod-money-for-kills.git
[submodule "modules/mod-pvp-titles"]
	path = modules/mod-pvp-titles
	url = https://github.com/evrydayjunglist/mod-pvp-titles.git
[submodule "modules/mod-individual-xp"]
	path = modules/mod-individual-xp
	url = https://github.com/evrydayjunglist/mod-individual-xp.git
[submodule "modules/mod-better-item-reloading"]
	path = modules/mod-better-item-reloading
	url = https://github.com/evrydayjunglist/mod-better-item-reloading.git
[submodule "modules/mod-aoe-loot"]
	path = modules/mod-aoe-loot
	url = https://github.com/evrydayjunglist/mod-aoe-loot.git
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = https://github.com/evrydayjunglist/mod-ah-bot.git
[submodule "modules/mod-auctionator"]
	path = modules/mod-auctionator
	url = https://github.com/evrydayjunglist/mod-auctionator.git
[submodule "modules/mod-assistant"]
	path = modules/mod-assistant
	url = https://github.com/evrydayjunglist/mod-assistant.git
[submodule "modules/mod-cfbg"]
	path = modules/mod-cfbg
	url = https://github.com/evrydayjunglist/mod-cfbg.git
[submodule "modules/mod-challenge-modes"]
	path = modules/mod-challenge-modes
	url = https://github.com/evrydayjunglist/mod-challenge-modes.git
[submodule "modules/mod-playerbot-reset-instances"]
	path = modules/mod-playerbot-reset-instances
	url = https://github.com/evrydayjunglist/mod-playerbot-reset-instances.git
[submodule "modules/mod-mythic-plus"]
	path = modules/mod-mythic-plus
	url = https://github.com/evrydayjunglist/mod-mythic-plus.git
[submodule "modules/mod-pvpstats-announcer"]
	path = modules/mod-pvpstats-announcer
	url = https://github.com/evrydayjunglist/mod-pvpstats-announcer.git
[submodule "modules/mod-quest-status"]
	path = modules/mod-quest-status
	url = https://github.com/evrydayjunglist/mod-quest-status.git
[submodule "modules/mod-weekend-xp"]
	path = modules/mod-weekend-xp
	url = https://github.com/evrydayjunglist/mod-weekend-xp.git
[submodule "modules/mod-reward-played-time-improved"]
	path = modules/mod-reward-played-time-improved
	url = https://github.com/evrydayjunglist/mod-reward-played-time-improved.git
[submodule "modules/mod-solocraft"]
	path = modules/mod-solocraft
	url = https://github.com/evrydayjunglist/mod-solocraft.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = https://github.com/evrydayjunglist/mod-autobalance.git
[submodule "modules/mod-solo-lfg"]
	path = modules/mod-solo-lfg
	url = https://github.com/evrydayjunglist/mod-solo-lfg.git
[submodule "modules/mod-player-bot-level-brackets"]
	path = modules/mod-player-bot-level-brackets
	url = https://github.com/evrydayjunglist/mod-player-bot-level-brackets.git
[submodule "modules/mod-real-online"]
	path = modules/mod-real-online
	url = https://github.com/evrydayjunglist/mod-real-online.git
[submodule "modules/mod-npc-beastmaster"]
	path = modules/mod-npc-beastmaster
	url = https://github.com/evrydayjunglist/mod-npc-beastmaster.git
[submodule "modules/mod-npc-free-professions"]
	path = modules/mod-npc-free-professions
	url = https://github.com/evrydayjunglist/mod-npc-free-professions.git
